:root {
  --primary-color: #433d3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: rgb(249, 247, 243);
  font-family: "Roboto", sans-serif;
}
h1 {
  margin: 50px;
  color: var(--primary-color);
  text-transform: uppercase;
}
h2 {
  color: rgb(84, 84, 84);
}
p {
  color: grey;
}
form {
  display: inline;
  width: 60%;
}
input {
  width: 28%;
}
input::placeholder {
  color: var(--primary-color);
}
button {
  color: white;
  background-color: var(--primary-color);
  width: 100px;
  cursor: pointer;
}
button:hover {
  background-color: var(--primary-color);
}
input,
button {
  height: 40px;
  font-size: 1em;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-rows: auto;
  margin-top: 50px;
}
.card {
  display: flex;
  min-width: 400px;
  align-items: center;
  background-color: white;
  border: 2px solid rgb(232, 232, 232);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card img {
  width: 80px;
  border-radius: 50%;
}
.text-container {
  text-align: left;
  margin-left: 30px;
  line-height: 1.5;
}

.modal {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  animation-name: modal-window;
  animation-duration: 0.5s;
}

.modal-content {
  position: relative;
  background-color: white;
  margin: 20% auto;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  padding: 20px;
  line-height: 1.5;
}
.modal-content img {
  width: 120px;
  border-radius: 50%;
}
hr {
  margin: 15px;
}
.close-btn {
  position: absolute;
  right: 15px;
  top: 5px;
  color: gray;
  font-size: 20px;
  cursor: pointer;
}
.close-btn:hover {
  color: rgb(86, 86, 86);
}
.forward,
.backward {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}
.forward {
  margin: 40% 110%;
}
.backward {
  margin: 40% -40%;
}

.hidden {
  display: none;
}

@keyframes modal-window {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
